/*
Custom Css
*/
#account_info:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-link i {
  width: 50px;
  text-align: center;
}

.nav-link {
  color: #555;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-item:hover .nav-link {
  color: #000;
}

.mobileIcon {
  position: fixed;
  display: none;
  bottom: 25px;
  right: 25px;
  padding: 25px;
  border-radius: 50px;
}

@media only screen and (max-width: 991px) {
  .mobileIcon {
    z-index: 99;
    display: block;
  }
}
